{% extends 'base.html' %}
{% block header %}

{% load static %}

<div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main_menu_inner">
                           <div class="logo_sticky">
                               <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                           </div>
                            <div class="main_menu">
                                <nav>
                                    <ul>

                                        <li ><a href="/">Home</a>
                                        </li>
                                        <li><a href="/shop/">Shop</a>
                                        </li>
                                        <li><a href="/about/">About Us</a></li>
                                        <li><a href="/contact/">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}

{% block content %}

    <!-- customer reset confirm start -->
    <div class="customer_login">
        <div class="container">
            <div class="row justify-content-center">
               <!-- reset confirm area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form">
                        <h2>Reset Password Confirm</h2>
                        <form method="post">
                            {% csrf_token %}
                            <p>
                                {{ form.new_password1 }}
                             </p>
                             <p>
                                 {% if form.new_password1.errors %}
                                    {% for error in form.new_password1.errors %}
                                        <li style="color: red">{{error|escape}}</li>
                                    {% endfor %}
                                 {% endif %}
                             </p>
                            <p>
                                {{ form.new_password2 }}
                             </p>
                             <p>
                                 {% if form.new_password2.errors %}
                                    {% for error in form.new_password2.errors %}
                                        <li style="color: red">{{error|escape}}</li>
                                    {% endfor %}
                                 {% endif %}
                             </p>
                            <div class="login_submit">
                                <button type="submit">Reset</button>
                            </div>

                        </form>
                     </div>
                </div>
                <!-- reset confirm area start-->
            </div>
        </div>
    </div>
    <!-- customer reset confirm end -->

{% endblock %}