{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DEX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!--modernizr min js here-->
    <script src="{% static 'assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>

<!-- Main Wrapper Start -->
    <div class="home_black_version">
         <!--Offcanvas menu area start-->
        <div class="off_canvars_overlay">

        </div>
        <div class="Offcanvas_menu Offcanvas_five">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="canvas_open">
                            <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                        </div>
                        <div class="Offcanvas_menu_wrapper">
                            <div class="canvas_close">
                                  <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                            </div>

                            <div class="top_right text-right">
                                <ul>
                                   <li class="top_links">
                                       {% if not request.user.is_authenticated %}
                                            <a href="{% url 'account:login' %}">Log in</a>
                                       {% else %}
                                           <a href="{% url 'account:dashboard' %}">My Account <i class="ion-chevron-down"></i></a>
                                            <ul class="dropdown_links">
                                                <li><a href="{% url 'account:dashboard' %}">Orders </a></li>
                                                <li><a href="{% url 'account:dashboard' %}">My Account </a></li>
                                                <li><a href="{% url 'basket:cart' %}">Cart</a></li>
                                                <li><a href="{% url 'account:dashboard' %}">Wishlist</a></li>
                                                <li><a href="{% url 'account:logout' %}">Log out</a></li>
                                            </ul>
                                       {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="contact_box">
                                <p>Free Support: <a href="tel:16055523453">{{about.phone}}</a> </p>
                            </div>
                            <div class="Offcanvas_footer">
                                <span><a href="#"><i class="fa fa-envelope-o"></i> {{about.mail}}</a></span>
                                <ul>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Offcanvas menu area end-->

         <!--header area start-->
        <header class="header_area header_black">
            <!--header top start-->
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <div class="social_icone">
                                <ul>
                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="ion-social-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                    <li class="top_links">
                                       {% if not request.user.is_authenticated %}
                                            <a href="{% url 'account:login' %}">Log in</a>
                                       {% else %}
                                           <a href="{% url 'account:dashboard' %}">My Account <i class="ion-chevron-down"></i></a>
                                            <ul class="dropdown_links">
                                                <li><a href="{% url 'account:dashboard' %}">Orders </a></li>
                                                <li><a href="{% url 'account:dashboard' %}">My Account </a></li>
                                                <li><a href="{% url 'basket:cart' %}">Cart</a></li>
                                                <li><a href="{% url 'account:dashboard' %}">Wishlist</a></li>
                                                <li><a href="{% url 'account:logout' %}">Log out</a></li>
                                            </ul>
                                       {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->

            <!--header middel start-->
            <div class="header_middel">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5">
                            <div class="home_contact">
                                <div class="contact_icone">
                                    <img src="{% static 'assets/img/icon/icon_phone.png' %}" alt="">
                                </div>
                                <div class="contact_box">
                                    <p>Free Support: <a href="tel:{{about.phone}}">{{about.phone}}</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4">
                            <div class="logo">
                                <a href="/"><img src="{% static 'assets/img/logo/logo-white.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-7 col-6">
                            <div class="middel_right">

                                <div class="wishlist_btn">
                                    <a href="{% url 'account:dashboard' %}"><i class="ion-heart"></i></a>
                                </div>
                                 <div class="cart_link">
                                    <a href="#"><i class="ion-android-cart"></i>$ <span id="cart-text-quantity" class="cart_text_quantity">{{basket.subtotal}}</span> <i class="fa fa-angle-down"></i></a>
                                    <span id="cart-quantity" class="cart_quantity">{{basket|length}}</span>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="cart_close">
                                            <div class="cart_text">
                                                <h3>cart</h3>
                                            </div>
                                            <div class="mini_cart_close">
                                                <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                        
                                         <div id="cart-items">

                                             {% for watch, basket in basket.list_basket.items %}

                                                <div id="cart-item-{{watch.id}}" class="cart_item">
                                                   <div class="cart_img">
                                                       <a href="{% url 'watch:details' watch.id %}"><img src="{{ watch.watchimage_set.first.image.url }}" alt=""></a>
                                                   </div>
                                                    <div class="cart_info">
                                                        <a href="{% url 'watch:details' watch.id %}">{{watch.name}}</a>

                                                        <span class="quantity">Quantity: {{basket.quantity}}</span>
                                                        <span class="price_cart">$ {{basket.total_price}}</span>

                                                    </div>
                                                    <div class="cart_remove">
                                                        <a onclick="delete_from_cart({{watch.id}})"><i class="ion-android-close"></i></a>
                                                    </div>
                                                </div>

                                             {% endfor %}

                                         </div>

                                        <div class="cart_total">
                                            <span>Subtotal:</span>
                                            <span id="subtotal">{{basket.subtotal}}</span>
                                        </div>
                                        <div class="mini_cart_footer">
                                           <div class="cart_button view_cart">
                                                <a href="{% url 'basket:cart' %}">View cart</a>
                                            </div>

                                            {% if basket|length > 0 and request.user.is_authenticated %}

                                                <div class="cart_button checkout">
                                                    <a class="active" href="{% url 'order:checkout' %}">Checkout</a>
                                                </div>

                                            {% endif %}

                                        </div>

                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header middel end-->

            <!--header bottom satrt-->
            <div class="header_bottom sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="main_menu_inner">
                               <div class="logo_sticky">
                                   <a href="/"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                               </div>
                                <div class="main_menu">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="/">Home</a>
                                            </li>
                                            <li><a href="{% url 'watch:shop' %}">Shop</a>
                                            </li>
                                            <li><a href="{% url 'about:about' %}">About Us</a></li>
                                            <li><a href="{% url 'contact:contact' %}">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </header>
        <!--header area end-->

        {% block body %}
        {% endblock %}

        <!--footer area start-->
        <footer class="footer_widgets footer_black">
            <div class="container">
            <div class="footer_top">
                <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="widgets_container contact_us">
                                <h3>About Dex</h3>
                                <div class="footer_contact">
                                    <p>Address: {{about.address}}</p>
                                    <p>Phone: <a href="tel:0123456789">{{about.phone}}</a></p>
                                    <p>Email: {{about.mail}}</p>
                                    <ul>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-rss"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4 col-6">
                            <div class="widgets_container widget_menu">
                                <h3>Information</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="{% url 'about:about' %}">About Us</a></li>
                                        <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-5 col-6">
                            <div class="widgets_container widget_menu">
                                <h3>My Account</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="{% url 'account:dashboard' %}">My Account</a></li>
                                        <li><a href="{% url 'account:dashboard' %}">Wishlist</a></li>
                                        <li><a href="{% url 'basket:cart' %}">Cart</a></li>
                                        <li><a href="{% url 'about:faq' %}">Frequently Questions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

<!--                        <div class="col-lg-4 col-md-6 col-sm-7">-->
<!--                        </div>-->
                    </div>
            </div>
            <div class="footer_middel">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_middel_menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'about:privacy-policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'about:term-of-use' %}">Terms Of Use</a></li>
                                <li><a href="{% url 'contact:contact' %}">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
               <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>&copy; 2024 <a href="/" class="text-uppercase">DEX</a></p>
                            <img src="{% static 'assets/img/icon/papyel2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <!--footer area end-->
   </div>

<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.main.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice.select.js' %}"></script>
<script src="{% static 'assets/js/scrollup.js' %}"></script>
<script src="{% static 'assets/js/ajax.chimp.js' %}"></script>
<script src="{% static 'assets/js/jquery.ui.js' %}"></script>
<script src="{% static 'assets/js/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'assets/js/isotope.main.js' %}"></script>
<script src="{% static 'assets/js/jqquery.ripples.js' %}"></script>
<script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/js/bpopup.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

{% csrf_token %}

<script> const csrfToken = '{{ csrf_token }}'; </script>

<!-- Basket JS -->
<script src="{% static 'assets/js/basket.js' %}"></script>

</body>

</html>